/* 指定カラー
  デフォルトテキストカラー            #333
  テーマカラー                      #74cfae
  バックグラウンドカラー(グレー)　     #f2f2f2
  バックグラウンドカラー(ダークグレー)　#4e4e4e
*/

@charset "UTF-8";

.font-size0 {
  font-size: 0;
}

a{
  display: inline-block;
}
.to-inner{
  width: 1100px;
  margin: 0 auto;
}

body {
  font-family: 'Lato','Raleway';
}

.wrapper {
  background-color: #f2f2f2;
}

/* header */

.header {
  background-color: #fff;
  left: 0;
  position: fixed;
  top:  0;
  width: 100%;
  z-index: 30;
}

.header-inner{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.fa-dark-gray {
  color:  #4e4e4e;
}

.header-content a{
  background-color: #74cfae;
  color:  #fff;
  display:  block;
  font-family:  Lato;
  font-size:  12px;
  padding:  14px 12px;
  text-decoration:  none;
  transition: color .3s;
}

.header-content a:hover {
  transition: all .3s;
  color:  #333;
}

/* header */


/* main */
.main{
  padding-top: 80px;
}

/* bolt-theme */

.bolt-theme-inner{
  text-align: center;
  padding: 250px 0;
}

.bolt-theme h1{
  color: #74cfae;
  font-size: 90px;
  font-family: Lato;
  font-weight: 700;
  margin-bottom: 20px;
}

.bolt-theme p{
  color: #c0c0c0;
  font-size: 30px;
}

/* bolt-theme */


/* bolt-about */

.bolt-about{
  background-color: #74cfae;
}

.bolt-about-inner{
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.bolt-about-description h2 {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 35px;
}

.bolt-about-description{
  text-align: center;
}

.bolt-about-description p {
  color: #fff;
  font-size: 20px;
  width: 750px;
  word-break : break-all;
}

/* bolt-about */


/* bolt-latest-work */

.bolt-latest-work-inner{
  text-align: center;
  padding: 60px 0 70px 0;
}

.bolt-latest-work h2{
  color: #4e4e4e;
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 40px;
}

.bolt-latest-work .is-boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.bolt-latest-work .is-box {
  margin: 80px 100px 0 0;
}

.bolt-latest-work .is-box:nth-child(3n) {
  margin-right: 0;
}

.bolt-latest-work .is-box:nth-child(-n+3) {
  margin-top: 0;
}

.bolt-latest-work .is-box a {
  opacity: .7;
  transition: opacity .3s;
}

.bolt-latest-work .is-box a:hover {
  transition: all .3s;
  opacity: 1;
}

.bolt-latest-work .is-description {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bolt-latest-work .is-description p {
  color: #4e4e4e;
  margin-right: 90px;
  width: 530px;
  word-break : normal;
}

.bolt-latest-work .is-description a {
  background-color: #74cfae;
  color: #fff;
  font-family: Lato;
  font-size: 12px;
  padding: 14px 20px;
  transition: color .3s;
  text-decoration: none;
}
.bolt-latest-work .is-description a:hover {
  color: #333;
  transition: all .3s;
}

/* bolt-latest-work  */


/* bolt-skills */

.bolt-skills{
  background-color: #4e4e4e;
}

.bolt-skills-inner{
  text-align: center;
  padding:70px 0 100px 0;
}

.bolt-skills-inner h2{
  color: #f2f2f2;
  font-size: 24px;
  margin-bottom: 70px;
}


.bolt-skills-boxs {
  display: flex;
  justify-content: center;
}

.bolt-skills-box {
  margin-right: 180px;
}

.bolt-skills-box:last-child {
  margin-right: 0;
}

.bolt-skills-box img{
  margin-bottom: 25px;
}

.bolt-skills-box p {
  color: #f2f2f2;
  font-size: 16px;
}

/* bolt-skills */


/* sns */

.sns-inner{
  text-align: right;
  padding: 200px 0;
}

.sns-icons{
  display: flex;
  justify-content: center;
}

.sns-icon{
  padding: 30px  0;
  width: 185px;
  text-align: center;
  transition: background-color .3s;
  color: #74cfae;
}

.sns-icon:hover{
  background-color: #fff;
  transition: all .3s;
}

/* sns */


/* main */


/* footer */

.footer{
  background-color: #74cfae;
}

.footer-inner{
  text-align: right;
  padding: 20px 0 25px 0;
}

.footer-inner p{
  color: #fff;
}

/* footer */

/* @media */


/* @media width: 768-1199px; */

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .to-inner{
    width: 97%;
  }

  /* main */


  /* bolt-about */

  .bolt-about-inner {
    display: block;
    padding: 50px 0 25px 0;
    text-align: center;
  }

  .bolt-about-description{
    margin: 20px 0 ;
  }

  .bolt-about-description p{
    margin: 0 auto;
  }


  /* bolt-about */


  /* bolt-latest-work */

  .bolt-latest-work .is-boxs {
    display: block;
  }


  .bolt-latest-work .is-box {
     margin: 0;
  }

  .bolt-latest-work .is-box:nth-child(3n){
    margin-bottom: 80px;
  }

  .bolt-latest-work .is-box:last-child {
    margin-bottom: 0;
  }

  .bolt-latest-work .is-description {
    margin-top: 80px;
    display: block;
  }

  .bolt-latest-work .is-description p {
    margin: 0 auto 40px auto;
    word-break: normal;
  }

  /* bolt-latest-work */


  /* bolt-skills */


  .bolt-skills-boxs {
    display: block;
  }


  .bolt-skills-box {
    margin: 0 0 88px 0;

  }

  .bolt-skills-box:last-child {
    margin-bottom: 0;
  }

  /* bolt-skills */

  /* main */


}



/* @media width: 768-1199px; */


/* @media width: -767px; */

@media screen and (max-width: 767px) {

  .to-inner {
    width: 97%;
  }

  /* header */

  .header-inner {
    position: relative;
  }

  .header-content {
    position: absolute;
    top: -500px;
  }

  .header-hamburger {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 25px;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 15px;
    width: 34px;
  }

  .header-hamburger-inner {
    position: relative;
  }

  .header-hamburger-inner span {
    background-color: #ddd;
    height: 3px;
    position: absolute;
    width: 100%;
  }

  .header-hamburger-inner span:nth-child(1) {
    top: 0;
  }

  .header-hamburger-inner span:nth-child(2) {
    top: 11px;
  }

  .header-hamburger-inner span:nth-child(3) {
    top: 22px;
  }


  /* header */


  /* main */


  /* bolt-theme */

  .bolt-theme-inner{
    padding: 160px 0 130px 0;
  }

  .bolt-theme h1 {
    font-size: 80px;
  }


  .br::after {
    content: "\A";
    white-space: pre;
  }

  /* bolt-theme */


  /* bolt-about */

  .bolt-about-inner {
    display: block;
    padding: 50px 0 25px 0;
    text-align: center;
  }

  .bolt-about-description {
    margin-top: 20px;
  }

  .bolt-about-description p {
    width: 97%;
    margin: 0 auto;
  }

  /* bolt-about */


  /* bolt-latest-work */


  .bolt-latest-work .is-boxs {
    display: block;
  }

  .bolt-latest-work .is-box {
    margin: 0;
  }

  .bolt-latest-work .is-box:nth-child(3n) {
    margin-bottom: 80px;
  }

  .bolt-latest-work .is-box:last-child {
    margin-bottom: 0;
  }

  .bolt-latest-work .is-description {
    margin-top: 80px;
    display: block;
  }

  .bolt-latest-work .is-description p {
    margin: 0 auto 40px auto;
    width:97%;
    word-break: normal;
  }



  /* bolt-latest-work */


  /* bolt-skills */

  .bolt-skills-boxs {
    display: block;
  }


  .bolt-skills-box {
    margin: 0 0 88px 0;

  }

  .bolt-skills-box:last-child {
    margin-bottom: 0;
  }

  /* bolt-skills */


  /* sns */

  .sns-inner {
    padding: 50px 0;
  }

  .sns-icons {
    display: block;
  }

  .sns-icon {
    width: 100%;
  }

  /* sns */


  /* main */

}

